* {
	font-family: sans-serif;
}

.CardWrapper {
	padding: 20px;
	border-bottom: 1px solid #d1d1d1;
}

.userInfo {
	text-align: center;
	margin-top: 30px;
}

.followers-wrapper, .forks-wrapper {
	margin: 10px;
	margin-left: 0px;
	display: inline-block;
}

.img-wrapper{
	display: block;
}

.img-wrapper img{
	border-radius: 50px;
}

.reponame-wrapper {
	margin-left: 20px;
	display: inline-block;
}

.reponame-wrapper a {
	font-size: 20px;
	font-weight: 600;
	color: #2980b9;
}

.reponame-wrapper a:hover, .reponame-wrapper a:focus, .reponame-wrapper a:active {
	text-decoration: none;
	color: #3498db;
	cursor: pointer;
}

.desc-wrapper {
	max-width: 700px;
	word-wrap: break-word;
	height: 100px;
	overflow-y: hidden;
	background-color: #ecf0f1;
	padding: 5px;
	padding-left: 10px;
	border: none;
	border-radius: 5px;
	margin-top: 5px;
}

.repoStats {
	margin-left: 20px;
}

.username-wrapper {
	margin-top: 10px;
	font-size: 15px;
	font-weight: 600;
	color: #2980b9;
	display: inline-block;
	text-decoration: none;
}

.username-wrapper:hover {
	color: #3498db;
	cursor: pointer;
}